<div class="video-container">
  <video #video src="//samplelib.com/lib/preview/mp4/sample-30s.mp4" controls controlsList="nodownload">
    <track #track default kind="captions" srclang="en" [src]="transcriptUrl" />
  </video>
  <div #videoControls class="video-controls">
    <!-- TODO: Buffer Animation -->
    <div class="progress-bar progress-line">
      <div class="progress-buffer progress-line"></div>
      <div class="progress-fill progress-line"></div>
    </div>
    <div class="bottom-controls">
      <div #playPause id="playpause">
        <fa-icon [icon]="faPlay" style="color: white;"></fa-icon>
      </div>
    </div>
    <!-- 
      COMPLETE: Progress Bar
      COMPLETE: Play/Pause
      TODO: Restart
      TODO: Rewind (5s)
      TODO: Fast Forward (5s)
      TODO: Previous Video (only for playlists? or maybe some type of multi-video setup)
      TODO: Next Video (only for playlists? or maybe some type of multi-video setup)
      TODO: Volume/Mute
      TODO: Current Video Time / Total Video Time
      TODO: Auto Play (only for playlists? or maybe some type of multi-video setup)
      TODO: Closed Captions
      TODO: Settings (pops menu with multiple items)
      TODO: Picture-in-Picture
      TODO: Default/Long View
      TODO: Full Screen View
     -->
  </div>
</div>
<div class="transcript-container">
  <div class="cue" *ngFor="let cue of cues">
    <div *ngFor="let text of cue?.text">
      <span class="text">{{text}} </span>
    </div>
  </div>
</div>