<div class="video-container">
  <video #video src="//samplelib.com/lib/preview/mp4/sample-30s.mp4" controls controlsList="nodownload">
    <track #track default kind="captions" srclang="en" [src]="transcriptUrl" />
  </video>
  <div #videoControls class="video-controls">
    <div class="progress-bar progress-line">
      <div class="progress-buffer progress-line"></div>
      <div class="progress-fill progress-line"></div>
    </div>
    <div class="bottom-controls">
      <div #playPause id="playpause">
        <fa-icon [icon]="faPlay" style="color: white;"></fa-icon>
      </div>
    </div>
    <!-- 
      Progress Bar
      Play/Pause
      Rewind (5s)
      Fast Forward (5s)
      Previous Video (only for playlists? or maybe some type of multi-video setup)
      Next Video (only for playlists? or maybe some type of multi-video setup)
      Volume/Mute
      Current Video Time / Total Video Time
      Auto Play (only for playlists? or maybe some type of multi-video setup)
      Closed Captions
      Settings (pops menu with multiple items)
      Picture-in-Picture
      Default/Long View
      Full Screen View
     -->
  </div>
</div>
<div class="transcript-container">
  <div class="cue" *ngFor="let cue of cues">
    <span class="text" *ngFor="let text of cue?.text">{{text}} </span>
  </div>
</div>